.list {
  width: 95%;
  margin: 50px auto;
  text-align: center;
  display: grid;

  .header, .row {
    width: 100%;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .row {
    margin: 1px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .row:hover {
    background-color: #fbf8e2;
  }
}
